{{#if buttonLabel}}
    <div
    class="o-dc-button {{buttonStyle}} {{#if buttonFontWeight}}o-dc-text-{{buttonFontWeight}}{{/if}} {{buttonTransition}}{{#if buttonBackgroundColour}} inline-color {{/if}}"
    style=" {{#if buttonBackgroundColour}}background:{{buttonBackgroundColour}};{{/if}}
            {{#if buttonForegroundColour}}color:{{buttonForegroundColour}};{{/if}}
            {{#if buttonBorderStyle}}border-style:{{buttonBorderStyle}};{{/if}}
            {{#if buttonBorderColour}}border-color:{{buttonBorderColour}};{{/if}}">
    {{buttonLabel}}</div>
{{/if}}
