<div class="amp-dc-advanced-banner-info-wrap {{#if backgroundGradient}}o-dc-banner-info-grad-text-{{backgroundGradient}}{{/if}} {{#if backgroundGradientMobile}}o-dc-banner-info-grad-text-{{backgroundGradientMobile}}-sm{{/if}} {{#if bannerImage.imageEffect}}overlay{{/if}}">
    <div class="amp-dc-advanced-banner-info o-dc-banner-text-{{textPositionVertical}}-{{textPositionHorizontal}} o-dc-banner-text-{{textPositionVerticalMobile}}-{{textPositionHorizontalMobile}}-sm">
        {{#with header}}
            {{> amp-template-advanced-textline this tag='h1' class='headline1'}}
        {{/with}}
        {{#with subheader}}
            {{> amp-template-advanced-textline this tag='h1' class='headline2'}}
        {{/with}}
        {{#with description}}
            {{> amp-template-advanced-textline this tag='p' class='copy'}}
        {{/with}}
        {{#each links}}
            {{> amp-template-button-wrap this index=@index}}
        {{/each}}
    </div>
 </div> 