{{#if buttonLabel}}
    <{{#eq index 0}}div onclick="location.href='{{buttonLink}}';"{{else}}a href="{{buttonLink}}"{{/eq}}
    class="o-dc-button {{buttonStyle}} {{#if buttonFontWeight}}o-dc-text-{{buttonFontWeight}}{{/if}} {{buttonTransition}}{{#if buttonBackgroundColour}} inline-color {{/if}}"
    style=" {{#if buttonBackgroundColour}}background:{{buttonBackgroundColour}};{{/if}}
            {{#if buttonForegroundColour}}color:{{buttonForegroundColour}};{{/if}}
            {{#if buttonBorderStyle}}border-style:{{buttonBorderStyle}};{{/if}}
            {{#if buttonBorderColour}}border-color:{{buttonBorderColour}};{{/if}}">{{buttonLabel}}</{{#eq index 0}}div{{else}}a{{/eq}}>
{{/if}}
