<div class="amp-dc-card-list
{{#compare cards.length '<' 6}}amp-dc-prod-{{cards.length}}-rows
{{else}}amp-dc-prod-3-rows{{/compare}}">
    <div class="amp-dc-card-title">
        {{ header }}
    </div>

    <div class="amp-dc-card-list-wrap">
        {{#each cards}}
            {{#if (test this.[@type] (toRegex ".*/card.json")) ~}}
                {{> amp-template-card }}
            {{else}}
            <div class="amp-dc-card">{{> amp-template-templateChooser }}</div>
            {{~/if}}
        {{/each}}
    </div>
</div>