.amp-dc-simple-banner {
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  .amp-dc-positional-button{
    position:absolute; 
  }

  .amp-dc-mobile{
    display:none;
    @media screen and (max-width: 768px) {
      display:block;
    }
  }

  .amp-dc-desktop{
    display:block;
    @media screen and (max-width: 768px) {
      display:none;
    }
  }

  .amp-dc-link-holder{
    //display:flex;
    margin: auto;
    width:100%;
    .amp-dc-link-container{
      display:flex;
      margin:auto;
      width:fit-content;
      flex-wrap: wrap;
      .o-dc-button{
        margin: 1rem;
        @media screen and (max-width: 768px) {
          margin: 0.4rem auto 0.4rem auto;
        }
        
      }
    }
    
  }

  .amp-dc-banner-pic-wrap{

    position:relative; 
    overflow: hidden;
    .amp-dc-simple-image {
      max-width: 100%;
      display: block;
  
      img {
        width: 100%;
      }
    }
  }
}

.amp-dc-banner {
  @media screen and (max-width: 768px) {
    
  }

  @media screen and (max-width: 480px) {
    
  }

}