<div class="amp-dc-snippet js_dc_snippet">
  {{#if image}} {{> amp-template-image image}} {{/if}}
  <div class="amp-dc-snippet-overlay">
    {{#with title}}
      {{> amp-template-advanced-textline this tag='h1' class='headline1' text=this}}
    {{/with}}
    {{#with description}}
      {{> amp-template-advanced-textline this tag='p' class='copy' text=this}}
    {{/with}}
    {{#if cta}} {{#if cta.value}}
  <div class="amp-dc-link">
    <span class="amp-dc-snippet-more" href="{{cta.value}}">
      {{#if cta.label}} {{cta.label}} {{else}} Read more >> {{/if}}
    </span>
  </div>
  {{/if}} {{/if}}
</div>
</div>
