<div class="amp-dc-slider js_slider" data-infinite="{{loop}}" data-autoplay="{{autoplay}}"
     data-navigation="{{#if (itemAt slides 1)}}{{navigationDots}}{{/if}}">
    <div class="amp-dc-slider-frame js_frame">
        <ul class="amp-dc-slider-slides js_slides">
            {{#each slides}}
            <li class="amp-dc-slider-slide js_dc_slide">
                {{> amp-template-templateChooser}}
            </li>
            {{/each}}
        </ul>
        {{#if (itemAt slides 1)}}
        <span class="amp-dc-slider-prev js_prev">
            <svg height="62" width="32">
                <line x1="0" y1="31" x2="30" y2="2" style="stroke:rgb(255,255,255);stroke-width:3" />
                <line x1="0" y1="29" x2="30" y2="58" style="stroke:rgb(255,255,255);stroke-width:3" />
              </svg>
            </span>
        <span class="amp-dc-slider-next js_next">
            <svg height="62" width="32">
                <line x1="30" y1="31" x2="0" y2="2" style="stroke:rgb(255,255,255);stroke-width:3" />
                   <line x1="30" y1="29" x2="0" y2="58" style="stroke:rgb(255,255,255);stroke-width:3" />
              </svg>
            </span>
        {{/if}}
        {{#if (itemAt slides 1)}}
            {{#if navigationDots}}
            <ul class="amp-dc-dots">
                {{#each slides}}
                <li class="amp-dc-dot js_dc_slider_dot"></li>
                {{/each}}
            </ul>
            {{/if}}
        {{/if}}
    </div>
</div>