<div class="amp-dc-card">
    {{#if button.buttonLink}}
    <a class="amp-dc-card-wrap" href="{{link.value}}">
    {{else}}
    <div class="amp-dc-card-wrap">
        {{/if}}

        <div class="amp-dc-card-img-wrap amp-dc-poi-image">
            {{> amp-template-image cardImage}}
        </div>

        <div class="amp-dc-card-text-wrap
        {{#unless cardName}}
            {{#unless description}}
                {{#unless button.buttonLink}}
                        amp-dc-hide
                 {{/unless}}
            {{/unless}}
        {{/unless}}">

        {{#with cardName}}
            {{> amp-template-advanced-textline this tag='h1' class='headline1'}}
        {{/with}}
        {{#with description}}
            {{> amp-template-advanced-textline this tag='p' class='copy'}}
        {{/with}}
        {{#with button}}
            {{> amp-template-button-wrap this}}
        {{/with}}
        </div>

        {{#if button.buttonLink}}
        </a>
        {{else}}
    </div>
    {{/if}}

</div>
